{% block sw_cms_block_{FEATURE_BLOCK_NAME}_preview %}
    <div class="sw-cms-block-preview-{FEATURE_NAME}">
        <div class="sw-cms-block-preview-{FEATURE_NAME}">
            <img class="sw-cms-block-preview-{FEATURE_NAME}-img"
                 :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
    </div>
{% endblock %}
