{% block sw_cms_element_{FEATURE_BLOCK_NAME} %}
    <div class="sw-cms-el-{FEATURE_NAME}">
        <img class="sw-cms-el-{FEATURE_NAME}-img"
             :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
    </div>
{% endblock %}

